:root {
	/* Colors */
	--color-grey-25: #9a9a9a;
	--color-grey-50: #494949;
	--color-grey-100: #202020;
	--color-grey-200: #2e2e2e;
	--color-grey-500: #151515;
	--color-red-500: #e62128;
	--color-red-600: #ce0007;

	/* Theme colors */
	--color-primary: var(--color-red-500);
	--color-secondary: var(--color-grey-100);
	--color-secondary-hover: var(--color-grey-200);

	/* Fonts */
	--font-family: 'Ubuntu', monospace;
	--font-size-normal: 16px;

	/* Borders */
	--border-radius: 2px;
}
